/* Large devices from 2000 to larger devices*/
@media only screen and (min-width: 2000px) {
	.about-description-container .owl-controls .owl-pagination {
		-webkit-transform: rotate(335deg) translate(278px, 82px);
		-ms-transform: rotate(335deg) translate(278px, 82px);
		transform: rotate(335deg) translate(278px, 82px);
	}

	.testimonial-section {
		width: 50%;
		position: absolute;
		top: -96px;
		left: 29%;
	}

	.social-wrapper .social-shape {
		-webkit-transform: rotate(-2deg) translate(16px, -119px) skew(3deg, 10deg);
		-ms-transform: rotate(-2deg) translate(16px, -119px) skew(3deg, 10deg);
		transform: rotate(-2deg) translate(16px, -119px) skew(3deg, 10deg);
		height: 1205px;
	}

	.social-title {
		-webkit-transform: translate(-54px, 331px);
		-ms-transform: translate(-54px, 331px);
		transform: translate(-54px, 331px);
	}

	.social-media-icon-container {
		-webkit-transform: translate(0, 680px);
		-ms-transform: translate(0, 680px);
		transform: translate(0, 680px);
	}

}

/* Large devices from 2100 to larger devices*/
@media only screen and (min-width: 2100px) {
	.about-description-container .owl-controls .owl-pagination {
		-webkit-transform: rotate(338deg) translate(282px, 77px);
		-ms-transform: rotate(338deg) translate(282px, 77px);
		transform: rotate(338deg) translate(282px, 77px);
	}

	.social-wrapper .social-shape {
		-webkit-transform: rotate(-2deg) translate(16px, -148px) skew(3deg, 7deg);
		-ms-transform: rotate(-2deg) translate(16px, -148px) skew(3deg, 7deg);
		transform: rotate(-2deg) translate(16px, -148px) skew(3deg, 7deg);
	}

	.social-title {

		-webkit-transform: translate(-54px, 295px);

		-ms-transform: translate(-54px, 295px);

		transform: translate(-54px, 295px);
	}

	.social-media-icon-container {
		-webkit-transform: translate(0, 603px);
		-ms-transform: translate(0, 603px);
		transform: translate(0, 603px);
	}

	.contact-wrapper .contact-shape {
		top: -241px;
		height: 942px;
	}

}


/* Large devices from 2000 to larger devices*/
@media only screen and (min-width: 2200px) {
	.social-wrapper .social-shape {
		height: 1393px;
		-webkit-transform: rotate(-2deg) translate(-7px, -224px) skew(3deg, 3deg);
		-ms-transform: rotate(-2deg) translate(-7px, -224px) skew(3deg, 3deg);
		transform: rotate(-2deg) translate(-7px, -224px) skew(3deg, 3deg);

	}

	.social-title {
		-webkit-transform: translate(-54px, 332px);
		-ms-transform: translate(-54px, 332px);
		transform: translate(-54px, 332px);
	}

}


/* Large devices from 2300 to larger devices*/
@media only screen and (min-width: 2300px) {
	.banner .banner-ellipse {
		left: calc(var(--banner-width) * 0.25);
	}

	.social-wrapper .social-shape {
		height: 1290px;
		-webkit-transform: rotate(-2deg) translate(28px, -134px) skew(3deg, 8deg);
		-ms-transform: rotate(-2deg) translate(28px, -134px) skew(3deg, 8deg);
		transform: rotate(-2deg) translate(28px, -134px) skew(3deg, 8deg);
	}

	.social-media-icon-container {
		-webkit-transform: translate(0, 711px);
		-ms-transform: translate(0, 711px);
		transform: translate(0, 711px);
	}

}


/* Large devices from 2400 to larger devices*/
@media only screen and (min-width: 2400px) {
	.banner .banner-ellipse {
		left: calc(var(--banner-width) * 0.24);
	}

	.social-wrapper .social-shape {
		-webkit-transform: rotate(-2deg) translate(28px, -131px) skew(3deg, 8deg);
		-ms-transform: rotate(-2deg) translate(28px, -131px) skew(3deg, 8deg);
		transform: rotate(-2deg) translate(28px, -131px) skew(3deg, 8deg);
	}
}

/* Large devices from 2500 to larger devices*/
@media only screen and (min-width: 2500px) {

	.social-wrapper .social-shape {
		-webkit-transform: rotate(-2deg) translate(28px, -128px) skew(3deg, 8deg);
		-ms-transform: rotate(-2deg) translate(28px, -128px) skew(3deg, 8deg);
		transform: rotate(-2deg) translate(28px, -128px) skew(3deg, 8deg);
	}

}


/* Large devices from 2600 to larger devices*/
@media only screen and (min-width: 2600px) {
	.social-wrapper .social-shape {
		-webkit-transform: rotate(-2deg) translate(28px, -124px) skew(3deg, 8deg);
		-ms-transform: rotate(-2deg) translate(28px, -124px) skew(3deg, 8deg);
		transform: rotate(-2deg) translate(28px, -124px) skew(3deg, 8deg);
	}
}


/* Small devices from 2000px to less devices*/
@media only screen and (max-width: 2000px) {
	.social-wrapper .social-shape {
		-webkit-transform: rotate(-2deg) translate(16px, -119px) skew(3deg, 10deg);
		-ms-transform: rotate(-2deg) translate(16px, -119px) skew(3deg, 10deg);
		transform: rotate(-2deg) translate(16px, -119px) skew(3deg, 10deg);
		height: 1205px;
	}

	.social-title {
		-webkit-transform: translate(-54px, 331px);
		-ms-transform: translate(-54px, 331px);
		transform: translate(-54px, 331px);
	}

	.social-media-icon-container {
		-webkit-transform: translate(0, 680px);
		-ms-transform: translate(0, 680px);
		transform: translate(0, 680px);
	}

	.contact-wrapper .contact-shape {
		height: 930px;
	}
}

/* Laptop or Medium-sized Screen: 1366px to 1920px */
@media only screen and (max-width: 1700px) {

	nav ul li a,
	.mobile-menu ul li a {
		font-size: 18px;
	}

	.logo {
		position: absolute;
		top: calc(var(--banner-height) * 0.13);
		left: calc(var(--banner-width) * 0.048);
		z-index: 11;
	}

	.logo img {
		width: 273px;
	}

	.cover-img .banner-image {
		width: auto;
		-webkit-clip-path: polygon(119% 0, 56% 114%, 0 0);
		clip-path: polygon(119% 0, 56% 114%, 0 0);

	}

	.banner-title {
		top: calc(var(--banner-height) * 0.73);
		left: calc(var(--banner-width) * 0.046);
	}

	.banner-title h1 {
		font-family: var(--ubuntu);
		font-size: 40px;
		font-weight: var(--f-weight-bold);
		line-height: 45px;
		width: 43%;
	}

	.banner .banner-ellipse {
		top: calc(var(--banner-height) * 0.36);
	}

	.about-us-title-container {
		left: 7%;
	}

	.title {
		--title-font-size: 99px;
		font-size: var(--title-font-size);
	}

	.sub-title {
		font-size: 21px;
		line-height: 26px;
	}

	.description-section {
		-webkit-transform: translate(0, -56px);
		-ms-transform: translate(0, -56px);
		transform: translate(0, -56px);
	}

	.description-section .description {
		margin: 0 0 27px 0;
	}

	.about-description-container .owl-controls .owl-pagination {
		-webkit-transform: rotate(330deg) translate(222px, 74px);
		-ms-transform: rotate(330deg) translate(222px, 74px);
		transform: rotate(330deg) translate(222px, 74px);
	}

	.about-description-container .owl-controls .owl-pagination>div {
		width: 15px;
		height: 15px;
		margin: 0 5px;
	}

	.about-description-container .owl-controls .owl-pagination div.active::before {
		width: 8px;
		height: 8px;
	}

	.description span {
		font-size: 27px;
		margin-right: 37px;
	}

	.description p {
		font-size: 18px;
		line-height: 32px;
	}

	.button-container .animated-button {
		width: 176px;
		height: 48px;
		font-size: 13px;

	}

	.button-container .get-in-touch {
		-webkit-transform: translate(22px, 19px);
		-ms-transform: translate(22px, 19px);
		transform: translate(22px, 19px);
	}

	.ellipse-qutoes-container {
		width: auto;
	}

	.testimonial-section {
		top: -89px;
		left: 27%;
	}

	.testimonial .testimonial-qutoes {
		font-family: var(--ubuntu);
		font-size: 21px;
		font-weight: 300;
		line-height: 33px;
		letter-spacing: 0em;
		color: var(--black);
	}

	.ellipse-qutoes-container .testiomonial-ellipse {
		width: 356px;
	}

	.ellipse-qutoes-container .testiomonial-icon-quotes {
		width: 59px;
		-webkit-transform: translate(90px, -219px);
		-ms-transform: translate(90px, -219px);
		transform: translate(90px, -219px);
	}

	.testimonial .client-name {
		font-size: 14px;
		margin-top: 40px;
	}

	.testimonial-section .arrow-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: end;
		-webkit-transform: translate(-117px, 18px);
		-ms-transform: translate(-117px, 18px);
		transform: translate(-117px, 18px);
	}

	.testimonial-section .arrow-container .btn-prev i,
	.testimonial-section .arrow-container .btn-next i {
		font-size: 17px;
	}

	.social-wrapper .social-shape {
		-webkit-transform: rotate(-2deg) translate(16px, -134px) skew(3deg, 10deg);
		-ms-transform: rotate(-2deg) translate(16px, -134px) skew(3deg, 10deg);
		transform: rotate(-2deg) translate(16px, -134px) skew(3deg, 10deg);
		height: 1205px;

	}

	.social-media-icon-container ul li a span {
		font-size: 19px;
	}

	.service-header {
		-webkit-transform: translateY(-133px) translateX(192px);
		-ms-transform: translateY(-133px) translateX(192px);
		transform: translateY(-133px) translateX(192px);
	}

	.card-container {
		gap: 51px;
		-webkit-transform: translateY(-12px) translateX(-52px);
		-ms-transform: translateY(-12px) translateX(-52px);
		transform: translateY(-12px) translateX(-52px);
	}

	.card {
		width: 382px;
		height: 382px;
	}

	.card .card-title {
		font-size: 20px;
	}

	.card .card-description {
		font-size: 14px;
		line-height: 22px;

	}

	.card .card-link {
		font-size: 13px;
		margin-top: 20px;
		gap: 8px;
	}

	.button-container .view-more {
		-webkit-transform: translateY(62px) translateX(100px);
		-ms-transform: translateY(62px) translateX(100px);
		transform: translateY(62px) translateX(100px);
	}

	.form-container input[type="text"],
	.form-container input[type="number"] {
		font-size: 13px;

	}

	footer .footer-container p span {

		font-size: 17px;

	}

	footer .footer-container p {

		font-size: 13px;
	}
}

@media only screen and (max-width: 1500px) {
	.social-wrapper .social-shape {
		-webkit-transform: rotate(-2deg) translate(16px, -148px) skew(3deg, 10deg);
		-ms-transform: rotate(-2deg) translate(16px, -148px) skew(3deg, 10deg);
		transform: rotate(-2deg) translate(16px, -148px) skew(3deg, 10deg);

	}
}

@media only screen and (max-width: 1300px) {
	.banner .banner-ellipse {
		top: calc(var(--banner-height) * 0.345);
		left: calc(var(--banner-width) * 0.35);
	}

	.about-description-container .owl-controls .owl-pagination {
		-webkit-transform: rotate(322deg) translate(165px, 74px);
		-ms-transform: rotate(322deg) translate(165px, 74px);
		transform: rotate(322deg) translate(165px, 74px);
	}

	.social-wrapper .social-shape {
		-webkit-transform: rotate(-2deg) translate(16px, -159px) skew(3deg, 10deg);
		-ms-transform: rotate(-2deg) translate(16px, -159px) skew(3deg, 10deg);
		transform: rotate(-2deg) translate(16px, -159px) skew(3deg, 10deg);
	}

	.social-media-icon-container {
		-webkit-transform: translate(0, 588px);
		-ms-transform: translate(0, 588px);
		transform: translate(0, 588px);
	}
}

@media only screen and (max-width: 1180px) {
	.social-wrapper .social-shape {
		-webkit-transform: rotate(-2deg) translate(16px, -169px) skew(3deg, 10deg);
		-ms-transform: rotate(-2deg) translate(16px, -169px) skew(3deg, 10deg);
		transform: rotate(-2deg) translate(16px, -169px) skew(3deg, 10deg);
	}
}

@media only screen and (max-width: 1230px) {
	header nav ul {
		display: none;
	}

	.humburger {
		display: block;
	}

	.mobile-menu .close {
		top: 13px;
	}

	.mobile-menu .close i {
		font-size: 20px;
	}

	nav ul li a,
	.mobile-menu ul li a {
		font-size: 15px;
	}

	.logo {

		top: calc(var(--banner-height) * 0.13);
		left: calc(var(--banner-width) * 0.069);

	}

	.logo img {
		width: 224px;
	}

	.banner-title {
		top: calc(var(--banner-height) * 0.65);
	}

	.banner-title h1 {
		font-size: 32px;
		line-height: 37px;
		width: 49%;
	}

	.title {
		--title-font-size: 72px;
		font-size: var(--title-font-size);
	}

	.sub-title {
		font-size: 18px;
		line-height: 22px;
	}

	.social-wrapper .social-shape {
		-webkit-transform: rotate(-2deg) translate(16px, -174px) skew(3deg, 10deg);
		-ms-transform: rotate(-2deg) translate(16px, -174px) skew(3deg, 10deg);
		transform: rotate(-2deg) translate(16px, -174px) skew(3deg, 10deg);
	}

	.description-section {
		-webkit-transform: translate(0, -70px);
		-ms-transform: translate(0, -70px);
		transform: translate(0, -70px);
	}

	.description p {
		font-size: 16px;
		line-height: 25px;
	}

	.description span {
		font-size: 21px;
		margin-right: 43px;
	}

	.description-section .description {
		margin: 0 0 16px 0;
	}

	.button-container .get-in-touch {
		-webkit-transform: translate(6px, 31px);
		-ms-transform: translate(6px, 31px);
		transform: translate(6px, 31px);
	}

	.button-container .animated-button {
		width: 157px;
		height: 46px;
		font-size: 12px;
	}

	.testimonial .testimonial-qutoes {

		font-size: 18px;
		line-height: 29px;
	}

	.ellipse-qutoes-container {
		left: 5%;
	}

	.ellipse-qutoes-container .testiomonial-ellipse {
		width: 317px;
	}

	.ellipse-qutoes-container .testiomonial-icon-quotes {
		width: 50px;
		-webkit-transform: translate(90px, -202px);
		-ms-transform: translate(90px, -202px);
		transform: translate(90px, -202px);
	}

	.testimonial .client-name {
		font-size: 14px;
		margin-top: 23px;
	}

	.testimonial-section .arrow-container .btn-prev i,
	.testimonial-section .arrow-container .btn-next i {
		font-size: 15px;
	}

	.social-media-icon-container ul {

		gap: 15px;
	}

	.social-media-icon-container ul li:first-child::after {
		-webkit-transform: translate(28px, 35px) rotate(154deg);
		-ms-transform: translate(28px, 35px) rotate(154deg);
		transform: translate(28px, 35px) rotate(154deg);
	}

	.social-media-icon-container ul li a span {
		font-size: 16px;
		margin-right: 20px;
	}

	.social-media-icon-container ul li a img {
		width: 40px;
	}

	.service-header {
		-webkit-transform: translateY(-87px) translateX(16px);
		-ms-transform: translateY(-87px) translateX(16px);
		transform: translateY(-87px) translateX(16px);
	}

	.card {
		width: 322px;
		height: 322px;
	}

	.card .card-img {
		width: 54px;
	}

	.card .card-title {
		font-size: 18px;
		margin-bottom: 7px;
	}

	.card .card-description {
		font-size: 13px;
		line-height: 19px;
		width: 80%;
	}

	.card .card-link {
		font-size: 13px;
		margin-top: 19px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.card .card-link img {
		width: 20px;
		-o-object-fit: cover;
		object-fit: cover;
		height: 20px;
	}

	.button-container .view-more {
		-webkit-transform: translateY(62px) translateX(13px);
		-ms-transform: translateY(62px) translateX(13px);
		transform: translateY(62px) translateX(13px);
	}

	.form-container input[type="text"],
	.form-container input[type="number"] {
		width: 279px;
		height: 39px;
		font-size: 13px;
		margin: 0 0 0 54px;

	}
}


@media only screen and (max-width: 992px) {
	.sub-title {
		margin-top: -39px !important;
	}

	.banner {
		--banner-height: 76vh;
		height: var(--banner-height);
	}

	.cover-img .banner-image {
		-webkit-clip-path: polygon(248% 0, 54% 101%, 0 0);
		clip-path: polygon(248% 0, 54% 101%, 0 0);
		width: 100%;
		height: 514px;
	}

	.about-wrapper {
		margin-top: 48px;
	}

	.about-images-container img {
		height: 222px;
	}

	.about-wrapper .about-description-container .about-us-shape {
		top: -64%;
		height: 1625px;

	}

	.about-us-title-container {
		left: 22%;
	}

	.about-us-title-container .about-subtitle {
		width: 59%;
	}

	.about-description-container .owl-item {
		-webkit-transform: translate(56px, -123px);
		-ms-transform: translate(56px, -123px);
		transform: translate(56px, -123px);
	}

	.description span {
		margin-right: 20px;
	}

	.ellipse-qutoes-container .testiomonial-ellipse {
		width: 260px;
	}

	.ellipse-qutoes-container .testiomonial-icon-quotes {
		-webkit-transform: translate(61px, -155px);
		-ms-transform: translate(61px, -155px);
		transform: translate(61px, -155px);
	}

	.social-title {
		-webkit-transform: translate(-16px, 328px);
		-ms-transform: translate(-16px, 328px);
		transform: translate(-16px, 328px);
	}

	.social-media-icon-container {
		-webkit-transform: translate(0, 518px);
		-ms-transform: translate(0, 518px);
		transform: translate(0, 518px);
	}

	.contact-wrapper .contact-shape {
		height: 766px;
	}

	.contact-wrapper .contact-container {
		padding-bottom: 55px;
		padding-top: 362px;
	}

	.contact-wrapper .contact-form {
		margin-top: 47px;
	}

}

@media only screen and (max-width: 768px) {
	.banner {
		--banner-height: 73vh;
		height: var(--banner-height);
	}

	.logo {
		top: calc(var(--banner-height) * 0.2);

	}

	.logo img {
		width: 179px;
	}

	.banner-title h1 {
		font-size: 25px;
		line-height: 30px;
		width: 49%;
	}

	.title {
		--title-font-size: 56px;
		font-size: var(--title-font-size);
	}

	.sub-title {
		margin-top: -47px !important;
	}

	.about-us-title-container .about-subtitle {
		width: 68%;
		font-size: 15px;
	}

	.about-description-container .owl-controls .owl-pagination {
		-webkit-transform: rotate(307deg) translate(58px, 74px);
		-ms-transform: rotate(307deg) translate(58px, 74px);
		transform: rotate(307deg) translate(58px, 74px);
	}

	.about-description-container .owl-controls .owl-pagination>div {
		width: 11px;
		height: 11px;
		margin: 0 5px;
	}

	.about-description-container .owl-controls .owl-pagination div.active::before {
		width: 5px;
		height: 5px;
	}

	.about-description-container .owl-item {
		-webkit-transform: translate(56px, -170px);
		-ms-transform: translate(56px, -170px);
		transform: translate(56px, -170px);
	}

	.description-section .description {
		margin: 0 0 8px 0;
	}

	.description span {
		margin-right: 17px;
		font-size: 15px;
	}

	.description p {
		font-size: 14px;
		line-height: 30px;
	}

	.button-container .animated-button {
		width: 137px;
		height: 38px;
		font-size: 11px;
	}

	.ellipse-qutoes-container .testiomonial-ellipse {
		width: 226px;
	}

	.ellipse-qutoes-container .testiomonial-icon-quotes {
		width: 41px;
		-webkit-transform: translate(44px, -144px);
		-ms-transform: translate(44px, -144px);
		transform: translate(44px, -144px);
	}

	.testimonial {
		width: 86%;

	}

	.testimonial .testimonial-qutoes {
		font-size: 15px;
		line-height: 23px;
	}

	.testimonial .client-name {
		font-size: 12px;
		margin-top: 15px;
	}

	.testimonial-section .arrow-container .btn-prev {
		margin-right: 16px;
	}

	.social-wrapper .social-shape {
		-webkit-transform: rotate(-2deg) translate(16px, -186px) skew(3deg, 10deg);
		-ms-transform: rotate(-2deg) translate(16px, -186px) skew(3deg, 10deg);
		transform: rotate(-2deg) translate(16px, -186px) skew(3deg, 10deg);
	}

	.social-media-icon-container {
		-webkit-transform: translate(0, 470px);
		-ms-transform: translate(0, 470px);
		transform: translate(0, 470px);
	}

	.social-media-icon-container ul li a span {
		font-size: 15px;
		margin-right: 16px;
	}

	.social-media-icon-container ul li a img {
		width: 33px;
	}

	.service-header {
		-webkit-transform: translateY(-87px) translateX(-52px);
		-ms-transform: translateY(-87px) translateX(-52px);
		transform: translateY(-87px) translateX(-52px);
		text-align: center;
	}

	.service-header .service-sub-title {
		width: 66%;
		text-align: center;
		margin: 0 auto;
	}

	.contact-header {
		margin-left: 0;
		text-align: center;
	}

	.contact-header .contact-sub-title {
		width: 70%;
		text-align: center;
		margin: 0 auto;
	}

	.card {
		width: 280px;
		height: 280px;
	}

	.card .card-img {
		width: 41px;
	}

	.card .card-title {
		font-size: 16px;
	}

	.card .card-description {
		font-size: 11px;
		line-height: 17px;
		width: 80%;
	}

	.card .card-link {
		font-size: 11px;
		margin-top: 18px;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.card .card-link img {
		width: 15px;
		height: 15px;
	}

	.form-container input[type="text"],
	.form-container input[type="number"] {
		width: 229px;
		height: 37px;
		margin: 0 0 0 49px;
	}
}

@media only screen and (max-width: 576px) {
	.banner {
		--banner-height: 76vh;
		height: var(--banner-height);
	}

	.banner-title h1 {
		font-size: 23px;
		line-height: 29px;
		width: 49%;
	}

	.about-us-title-container .about-subtitle {
		width: 80%;
		font-size: 12px;
		line-height: 18px;
	}

	.about-description-container .owl-item {
		-webkit-transform: translate(29px, -198px);
		-ms-transform: translate(29px, -198px);
		transform: translate(29px, -198px);
	}

	.about-description-container .owl-controls .owl-pagination {
		-webkit-transform: rotate(307deg) translate(39px, 40px);
		-ms-transform: rotate(307deg) translate(39px, 40px);
		transform: rotate(307deg) translate(39px, 40px);
	}

	.description-section .description {
		margin: 0 0 4px 0;
	}

	.description span {
		margin-right: 11px;
		font-size: 13px;
	}

	.description p {
		font-size: 12px;
		line-height: 30px;
	}

	.button-container .get-in-touch {
		-webkit-transform: translate(6px, 17px);
		-ms-transform: translate(6px, 17px);
		transform: translate(6px, 17px);
	}

	.button-container .animated-button {
		width: 125px;
		height: 35px;
		font-size: 10px;
	}

	.ellipse-qutoes-container .testiomonial-ellipse {
		width: 162px;
	}

	.ellipse-qutoes-container .testiomonial-icon-quotes {
		width: 28px;
		-webkit-transform: translate(29px, -105px);
		-ms-transform: translate(29px, -105px);
		transform: translate(29px, -105px);
	}

	.testimonial .testimonial-qutoes {
		font-size: 13px;
		line-height: 20px;
	}

	.testimonial-section .arrow-container {
		-webkit-transform: translate(-107px, 19px);
		-ms-transform: translate(-107px, 19px);
		transform: translate(-107px, 19px);
	}

	.social-wrapper {
		--social-width: 100%;
		--social-height: 91vh;
		height: var(--social-height);
		position: relative;
	}

	.social-wrapper .social-shape {
		-webkit-transform: rotate(-2deg) translate(16px, -200px) skew(3deg, 10deg);
		-ms-transform: rotate(-2deg) translate(16px, -200px) skew(3deg, 10deg);
		transform: rotate(-2deg) translate(16px, -200px) skew(3deg, 10deg);
	}

	.social-title {
		-webkit-transform: translate(-16px, 328px);
		-ms-transform: translate(-16px, 328px);
		transform: translate(19px, 305px);
	}

	.social-media-icon-container {
		-webkit-transform: translate(39px, 436px);
		-ms-transform: translate(39px, 436px);
		transform: translate(67px, 414px);
	}

	.form-container .form-column {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.form-container .form-column {
		margin: 0 0 0 0;
	}

	.form-container input[type="text"],
	.form-container input[type="number"] {
		margin: 0;
	}

	.form-container .form-column:nth-child(1)>input[name="name"],
	.form-container .form-column:nth-child(2)>input[name="phone"] {
		margin-left: auto;
	}

	.form-container .form-column input {
		margin-bottom: 20px;
	}

	.form-container .button-container {
		margin: 18px 0 0 0;
	}
}

@media only screen and (max-width: 1024px) and (max-height:1366px) {
	.banner {

		--banner-height: 58vh;

	}

	.social-wrapper {

		--social-height: 57vh;


	}
}

@media only screen and (max-width: 912px) and (max-height:1368px) {
	.banner {
		--banner-height: 51vh;
	}

	.social-wrapper {
		--social-height: 62vh;
	}
}

@media only screen and (max-width: 540px) and (max-height: 720px) {
	.social-wrapper {
		--social-height: 110vh;
	}
}

@media only screen and (max-width: 412px) and (max-height: 914px) {
	.social-wrapper {
		--social-height: 89vh;
	}
}

@media only screen and (max-width: 375px) and (max-height: 667px) {
	.social-wrapper {
		--social-height: 124vh;
	}

	.button-container .view-more {
		transform: translateY(15px) translateX(-11px);
	}
}

@media only screen and (max-width: 414px) and (max-height: 896px) {
	.social-wrapper {
		--social-height: 89vh;
	}

	.button-container .view-more {

		transform: translateY(21px) translateX(0px);
	}

}

@media only screen and (max-width: 430px) and (max-height: 932px) {
	.social-wrapper {
		--social-height: 81vh;
	}
}

@media only screen and (max-width: 360px) and (max-height: 740px) {
	.social-wrapper {
		--social-height: 101vh;
	}
}

@media only screen and (max-width: 768px) and (max-height: 1024px) {
	.social-wrapper {
		--social-height: 79vh;
	}
}

@media only screen and (max-width: 540px) and (max-height: 720px){
.social-wrapper {
    --social-height: 111vh;
}
}